---
layout: default
---
<center>
<h1 style= "padding-top: 50px">Pieces of Perfection</h1>
</center>

<center>
<p style= "padding-bottom:20px; padding-top: 20px"> <img src="assets/img/pop-logo.jpg" alt="pop logo" > </p> 

<p style= "padding-left:200px; padding-right: 200px;"> POP is the Walter Payton College Preparatory Highschool acapella group for upper range voices (Sopranos and Altos). We meet Wednesdays and Fridays during enritchment and first seminar. If you are interested in joining, please reach out our director, Mr. Potter. Use this website to access online versions of our current music, youtube videos of the songs we are singing, a list of the group member, and dates and times of upcoming events!</p>

</center>
