---
layout: default
---
<center>
<h1 style= "padding-top: 50px">Pieces of Perfection</h1>
</center>

<center>
<p style= "padding-bottom:20px; padding-top: 20px"> <img src="assets/img/pop-logo.jpg" alt="pop logo" > </p> 

<p style= "padding-left:200px; padding-right: 200px;"> POP is the Walter Payton College Preparatory High School acapella group for upper range voices (Sopranos and Altos). We meet Wednesdays and Fridays during enrichment and first seminar. If you are interested in joining, please reach out to our director, Mr. Potter. Please use this website to access online versions and youtube videos of our current music, a list of the group members, and dates and times of upcoming events!</p>

</center>
